.artworks img:hover {
  filter: none;
}

.artworks img {
  filter: grayscale(1);
}

@media (max-width: 768px) {
  iframe {
    height: fit-content;
  }
}

@media (min-width: 768px) {
  .artist.description {
    margin-top: 66vh;
  }

  .artist.description.with-video {
    margin-top: -16vh;
    z-index: 10;
  }
}
