h1 {
  font-size: 3.75rem;
  line-height: 1;
}

h3 {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

a {
  font-weight: bold;
}

a:hover {
  font-style: italic;
  color: white;
  background-color: #c9c99e;
}
