@import "../styles/typography.css";

body {
  color: hsla(0, 0%, 0%, 0.8);
  font-family: "Whyte-Medium", sans-serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
}

@media (min-width: 768px) {
  nav.menu {
    height: "-webkit-fill-available";
    min-height: 95vh;
  }
}
