@import "../styles/typography.css";

body {
  color: hsla(0, 0%, 0%, 0.8);
  font-family: "Whyte-Regular", sans-serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
nav a {
  font-family: "Charon-Regular", serif;
}

a {
  font-family: "Stretch-Medium", serif;
}
